body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    background-image: url(img/arkaplan.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}


header{
    position: relative;
    width: 100%;
    height: 150px;
    left: 0;
    background: rgba(135, 206, 235, 0.9);
    top: 0; 
    
}

header h2{
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    top: 50px;
    font-size: 30px;
    font-weight: bold;

}

.table{
    width: 700px;
    height: 500px;
    margin: 0 auto;
    background: rgba(245, 245, 245, 0.9);
    border-radius: 15px;
    

}

.table h1{
    padding-top: 20px;
    color: midnightblue;
    font-weight: bold;
}

input[type="text"] , input[type="password"]{
    width: 60%;
    margin: 10px;
    height: 50px;
    background: white;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    color: gray;

    
}

::placeholder{
    font-size: 19px;
    text-align: center;

}

.sub{
    height: 45px;
    width: 60%;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 25px;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    margin: 15px;


}

#giris{
    background: limegreen;

}

#giris:hover{
    background: rgba(50, 205, 50, 0.7);
}

#kayit{
    background: red;
    
}

#kayit:hover{
    background: rgba(255, 0, 0, 0.6);
}

a{
    font-size: 18px;
    color: rgb(100, 100, 100);
}


.ustbar{
    position: relative;
    width: 85%;
    height: 100px;
    left: 0;
    background: rgba(135, 206, 235, 0.9);
    top: 0;
}

.ustbar h1{
    position: absolute;
    left: 50px;
    line-height: 50px;
    color: white;


}

.menu h5 {
    position: relative;
    display: inline;
    padding: 50px;
    line-height: 100px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}




.menu{
    position: absolute;
    width: 600px;
    height: 100px;
    background: rgba(135, 206, 235, 0.9);
    right: 0;
}





a{
    text-decoration: none;
}

.cikis{
    position: absolute;
    width: 15%;
    height: 100px;
    background: rgba(135, 206, 235, 0.9);
    right: 0;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    cursor: pointer;
    top: 0;
    
}

.cikis:hover{
    background: red;
    
}


.adsoyad{
    position: relative;
    width: 300px;
    height: 20px;
    left: 50px;

}

.adsoyad h4{
    position: relative;
    float: left;
    color: black;
}


.ortadiv{
    position: absolute;
    width: 45%;
    height: 500px;
    background: #e7e7e7;
    top: 150px;
    opacity: 0.9;
    


}

#randevudiv{
    left: 50px;
}

#sagdiv{
    right: 50px;
}

#sagdiv p{
    position: relative;
    color: midnightblue;
    font-size: 30px;
    text-align: center;
    top: 100px;


}

#sagdiv h3{
     text-align: center;
     font-size: 28px;
}

select,#randevudiv input,button{
    position: relative;
    width: 450px;
    height: 40px;
    margin-top: 10px;
    background: midnightblue;
    color: white;
    cursor: pointer;

}

#randevudiv form{
    position: relative;
    top: 50px;

}

.hesapcontent{
    position: relative;
    width: 60%;
    height: 372px;
    left: 20%;
    top: 50px;
    background: aliceblue;
    opacity: 0.9;
    border-radius: 5px;
    


}

.label{
    position: relative;
    width: 100%;
    height: 60px;
    background:skyblue;
    border-radius: 5px;
    

}

.label label{
    position: relative;
    font-size: 25px;
    line-height: 60px;
    left: 50px;
    

}

.label input{
    position: relative;
    float: right;
    height: 40px;


}

.hesapcontent button{
    position: relative;
    float: right;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background: midnightblue;
    border-radius: 5px;
}

.hesapcontent button:hover{
    background: skyblue;
}


table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;

}

td,tr{
    border: 1px solid midnightblue;
    text-align: center;
    padding: 8px;

}

tr:nth-child(even){
    background: #d7d7d7e9;

}

th{
    background: rgba(255, 255, 255, 0.9);
}

